<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>0</integer>
	<key>data</key>
	<array>
		<dict>
			<key>author</key>
			<dict>
				<key>userName</key>
				<string>001</string>
				<key>userId</key>
				<string>001</string>
				<key>headIconUrl</key>
				<string>001</string>
			</dict>
			<key>text</key>
			<string>明月几时有？把酒问青天</string>
			<key>type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>author</key>
			<dict>
				<key>userName</key>
				<string>002</string>
				<key>userId</key>
				<string>002</string>
				<key>headIconUrl</key>
				<string>002</string>
			</dict>
			<key>text</key>
			<string>明月几时有？把酒问青天。www.google.com?login=2021, 不知天上宫阙，今夕是何年。13612341234,我欲乘风归去，又恐琼楼玉宇，高处不胜寒。起舞弄清影，何似在人间？转朱阁，低绮户，照无眠。不应有恨，何事长向别时圆？人有悲欢离合，月有阴晴圆缺，此事古难全。但愿人长久，千里共婵娟。</string>
			<key>type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>author</key>
			<dict>
				<key>userName</key>
				<string>003</string>
				<key>userId</key>
				<string>003</string>
				<key>headIconUrl</key>
				<string>003</string>
			</dict>
			<key>images</key>
			<array>
				<dict>
					<key>url</key>
					<string>图片链接</string>
					<key>width</key>
					<integer>1283</integer>
					<key>height</key>
					<integer>667</integer>
				</dict>
			</array>
			<key>type</key>
			<string>picture</string>
		</dict>
		<dict>
			<key>author</key>
			<dict>
				<key>userName</key>
				<string>004</string>
				<key>userId</key>
				<string>004</string>
				<key>headIconUrl</key>
				<string>004</string>
			</dict>
			<key>images</key>
			<array>
				<dict>
					<key>url</key>
					<string>图片链接</string>
					<key>width</key>
					<integer>1283</integer>
					<key>height</key>
					<integer>667</integer>
				</dict>
				<dict>
					<key>url</key>
					<string>图片链接</string>
					<key>width</key>
					<integer>128</integer>
					<key>height</key>
					<integer>128</integer>
				</dict>
				<dict>
					<key>url</key>
					<string>图片链接</string>
					<key>width</key>
					<integer>1283</integer>
					<key>height</key>
					<integer>667</integer>
				</dict>
				<dict>
					<key>url</key>
					<string>图片链接</string>
					<key>width</key>
					<integer>128</integer>
					<key>height</key>
					<integer>128</integer>
				</dict>
			</array>
			<key>type</key>
			<string>picture</string>
		</dict>
		<dict>
			<key>author</key>
			<dict>
				<key>userName</key>
				<string>005</string>
				<key>userId</key>
				<string>005</string>
				<key>headIconUrl</key>
				<string>005</string>
			</dict>
			<key>images</key>
			<array>
				<dict>
					<key>url</key>
					<string>图片链接</string>
					<key>width</key>
					<integer>1283</integer>
					<key>height</key>
					<integer>667</integer>
				</dict>
				<dict>
					<key>url</key>
					<string>图片链接</string>
					<key>width</key>
					<integer>128</integer>
					<key>height</key>
					<integer>128</integer>
				</dict>
				<dict>
					<key>url</key>
					<string>图片链接</string>
					<key>width</key>
					<integer>1283</integer>
					<key>height</key>
					<integer>667</integer>
				</dict>
				<dict>
					<key>url</key>
					<string>图片链接</string>
					<key>width</key>
					<integer>128</integer>
					<key>height</key>
					<integer>128</integer>
				</dict>
				<dict>
					<key>url</key>
					<string>图片链接</string>
					<key>width</key>
					<integer>1283</integer>
					<key>height</key>
					<integer>667</integer>
				</dict>
				<dict>
					<key>url</key>
					<string>图片链接</string>
					<key>width</key>
					<integer>128</integer>
					<key>height</key>
					<integer>128</integer>
				</dict>
			</array>
			<key>type</key>
			<string>picture</string>
			<key>text</key>
			<string>明月几时有？把酒问青天。www.google.com?login=2021, 不知天上宫阙，今夕是何年。13612341234,我欲乘风归去，又恐琼楼玉宇，高处不胜寒。起舞弄清影，何似在人间？转朱阁，低绮户，照无眠。不应有恨，何事长向别时圆？人有悲欢离合，月有阴晴圆缺，此事古难全。但愿人长久，千里共婵娟。</string>
		</dict>
		<dict>
			<key>author</key>
			<dict>
				<key>userName</key>
				<string>003</string>
				<key>userId</key>
				<string>003</string>
				<key>headIconUrl</key>
				<string>003</string>
			</dict>
			<key>video</key>
			<dict>
				<key>converUrl</key>
				<string>图片链接</string>
				<key>videoPath</key>
				<string>https://aweme.snssdk.com/aweme/v1/playwm/?video_id=v0200ff00000bdkpfpdd2r6fb5kf6m50&amp;line=0.mp4</string>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>567</integer>
			</dict>
			<key>type</key>
			<string>video</string>
			<key>text</key>
			<string>明月几时有？把酒问青天。</string>
		</dict>
		<dict>
			<key>author</key>
			<dict>
				<key>userName</key>
				<string>003</string>
				<key>userId</key>
				<string>003</string>
				<key>headIconUrl</key>
				<string>003</string>
			</dict>
			<key>artic</key>
			<dict>
				<key>converUrl</key>
				<string>图片链接</string>
				<key>title</key>
				<string>震惊！18岁花季少女竟做出这样的事！</string>
				<key>url</key>
				<string>https://www.baidu.com</string>
			</dict>
			<key>type</key>
			<string>article</string>
			<key>text</key>
			<string>这是一个分享</string>
		</dict>
	</array>
	<key>msg</key>
	<string>success</string>
</dict>
</plist>
